/* INDEX */
/*
      0 - GENERAL
      1 - HEADER
      2 - POSTCARD
*/

/*  0 - GENERAL   */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

section {
  align-items: center;
  justify-content: center;
}

.col3 {
  text-align: center;
}

.scan,
.digital {
  width: calc(1651px/3);
  height: calc(1081px/3);
  display: flex;
}

.scan.retro {
    display: inline-block;
}

.meta {
    width: calc(1651px/3);
    height: calc(1081px/3);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.postcardWrapper {
    margin-top: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.overlayWrapper {
    position: relative;
}

.overlayPath {
    transform-origin:0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.overlayPath polygon,
.overlayPath rect {
    stroke-width: 3px;
    transition: fill .2s linear;
    opacity: .5;
}
.overlayPath polygon,
.overlayPath rect {
    fill: transparent;
}

.overlayPath polygon:hover,
.overlayPath rect:hover {
    fill:#FF4136;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.5em;
}

h3 {
  font-family: 'Lato', serif;
  font-weight: 500;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-align: center;
}

.sectionTitle {
    font-size: 1.3em;
}

hr {
  width: 15%;
  height: 1px;
  background: #DDDDDD;
  border: none;
}

img.retro {
  width: calc(1651px/3);
  height: calc(1081px/3);
  border-radius: 4px 0 0 4px;
}

/*  1 - HEADER      */
div.contentFronte {
  width: 20%;
  text-align: center;
}

.fronteWrapper {
    width: calc(1651px/3);
    height: calc(1081px/3);
    display: flex;
    justify-content: flex-start;
}

img.fronte {
  height:  100%;
  border-radius: 0 4px 4px 0;
  margin-right: 10px;
}

.selectionWrapper {
  height: 60vh;
}

.selection {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  border-radius: 4px;
}

.fullHeight {
  height: 100vh;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.fullHeight ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.fullHeight ul li {
  font-family: "Montserrat;", sans-serif;
  font-weight: 100;
  list-style-type: none;
  margin: 0 10px;
  color: #333;
}

.manoscritto {
  padding: 4px;
  margin: 0;
  border-bottom: 1px dashed #7FDBFF;
  border-left: 2px solid #0074D9;
  background-color: #fff;
  min-height: 19px;
  color: #111;
}

.tipografia {
  padding: 4px;
  margin: 0;
  border-bottom: 1px dashed #ffb270;
  border-left: 2px solid #FF851B;
  background-color: #fff;
  min-height: 19px;
  color: #111;
}

.label {
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* debug css */
.blue {
  background: #0074D9;
  color: #fff;
}

.teal {
  background: #39CCCC;
  color: #fff;
}

.red {
  background: #FF4136;
  color: #fff;
}

.lime {
  background: #01FF70;
  color: #111;
}

.olive {
  background: #3D9970;
  color: #fff;
}

.black {
  background: #111;
  color: #fff;
}

.purple {
  background: #B10DC9;
  color: #fff;
}

.debug::before {
  content: '!';
  font-weight: bold;
  padding: 0 4px;
}

/* 2 - POSTACARD */
.content_tooltip {
  position: relative;
  background: #cde9ff;
  color: #525d66;
  width: 100%;
  padding: 15px;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content_tooltip:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: #b7dfff #fff;
}

.postmark, .postage{
  padding: 20px;
  box-sizing: border-box;
}

.desc{
  font-family: "Playfair Display", serif;
  font-size: 0.9em;
  display: none;
}

.filterbar {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    width: calc(1651px/1.5);
    height: 29px;
    margin-bottom: 9px;
    color: #fff;
    z-index: 0;
}
.sez1, .sez2 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
}
.filterbar .sez1 {
    width: calc(1651px/3);
    height: 30px;
    background: #525d66;
}

.filterbar .sez2 {
    width: 234.09px;
    height: 30px;
    background: #525d66;
}

.toolbar {
    position: absolute;
    bottom: 0;
    height: 29px;
    width: calc(1651px/1.5);
    /* background: #111;
    opacity: .5; */
}